#in .bashrc, paste the following : 
export LESS="-FRXI"

#-f : quitte less quand l'affichage fait moins d'un écran 
#-R : affiche en couleur un fichier contenant des codes couleurs ANSI
#-X : n'efface pas l'affichage à la fermeture
#-i : pour ignorer la casse dans les recherches sauf s'il y a [au moins] une lettre majuscule dans le motif recherché
